.product-container {
    display: flex;
    flex-direction: column;
}

.product-container>* {
    width: 100%;
}

.input-file {
    display: none;
}

.subir-imagen {
    padding: 5px 16px;
    margin-left: 10px;
    background: #C72A68;
    color: white;
    border: 0px solid #fff;
}